In [8]:
import numpy as np
import pandas as pd


data = {
    'f_name': ['Dipak', 'Ramesh', 'Sita', 'Gita', 'Anup', 'Gita', 'Mira', 'Sundar', 'Manoj', 'Ganesh'],
    'l_name': ['Prasai', 'Ghale', 'Mahatara', np.nan, 'Bagale', 'Tamang', 'Shah', 'Gurung', 'Ghale', np.nan],
    'age': [32, 45, 21, 15, 36, np.nan, 85, 41, 32, 12],
    'weight': [65, 72, 55, 40, 58, 62, np.nan, 65, 55, 20], 
    'balance': [150000, 200000, 25000, 5000, 500000, 200000, 50000, 256000, 78000, 25000]
}

df = pd.DataFrame(data)

In [20]:
# Detecting duplicated values
df['balance'].duplicated() # second (or later) occurance is considered as duplicated

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: balance, dtype: bool

In [21]:
# Count duplicated values
df['balance'].duplicated().sum()

np.int64(1)

In [22]:
# Drop duplicated values
df['balance'] = df['balance'].drop_duplicates()
df['balance']

0    150000.0
1    200000.0
2     25000.0
3      5000.0
4    500000.0
5         NaN
6     50000.0
7    256000.0
8     78000.0
9         NaN
Name: balance, dtype: float64

---

In [23]:
# Count missing/empty values
df['balance'].isna().sum()

np.int64(2)

In [24]:
# Fill null value by zero
df['balance'].fillna(0)
# df.fillna(0)

0    150000.0
1    200000.0
2     25000.0
3      5000.0
4    500000.0
5         0.0
6     50000.0
7    256000.0
8     78000.0
9         0.0
Name: balance, dtype: float64

In [25]:
# Fill null value by the mean of the balance
df['balance'].fillna(df['balance'].mean())

0    150000.0
1    200000.0
2     25000.0
3      5000.0
4    500000.0
5    158000.0
6     50000.0
7    256000.0
8     78000.0
9    158000.0
Name: balance, dtype: float64