In [9]:
import numpy as np
import pandas as pd


data = {
    'f_name': ['Dipak', 'Ramesh', 'Sita', 'Gita', 'Anup', 'Gita', 'Mira', 'Sundar', 'Manoj', 'Ganesh'],
    'l_name': ['Prasai', 'Ghale', 'Mahatara', np.nan, 'Bagale', 'Tamang', 'Shah', 'Gurung', 'Ghale', np.nan],
    'age': [32, 45, 21, 15, 36, np.nan, 85, 41, 32, 12],
    'weight': [65, 72, 55, 40, 58, 62, np.nan, 65, 55, 20], 
    'balance': [150000, 200000, 25000, 5000, 500000, 200000, 50000, 256000, 78000, 25000]
}

df = pd.DataFrame(data)

In [10]:
# Detect missing values
df['l_name'].isna() # empty string('') is not considered as null values
# df['l_name'].isnull() # does exactly same as by isna()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9     True
Name: l_name, dtype: bool

In [11]:
# Count missing values
df['l_name'].isnull().sum()

np.int64(2)

In [14]:
# Drop missing values
df1 = df['l_name'].dropna()
df1

0      Prasai
1       Ghale
2    Mahatara
4      Bagale
5      Tamang
6        Shah
7      Gurung
8       Ghale
Name: l_name, dtype: object

In [15]:
df['l_name'].fillna('Nepali')

0      Prasai
1       Ghale
2    Mahatara
3      Nepali
4      Bagale
5      Tamang
6        Shah
7      Gurung
8       Ghale
9      Nepali
Name: l_name, dtype: object