In [16]:
import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

df.value_counts()
df.sample()
df.memory_usage()

print("df.columns:\n", df.columns)

print()
print("df.index:\n", df.index)

print()
print("df.dtypes:\n", df.dtypes)

print()
print("df.shape:\n", df.shape)

print()
print("df.axes:\n", df.axes)


print()
print("df.memory_usage:\n", df.memory_usage)

print()
print("df.info():\n", df.info())

df.columns:
 Index(['animal', 'age', 'visits', 'priority'], dtype='object')

df.index:
 Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

df.dtypes:
 animal       object
age         float64
visits        int64
priority     object
dtype: object

df.shape:
 (10, 4)

df.axes:
 [Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object'), Index(['animal', 'age', 'visits', 'priority'], dtype='object')]

df.memory_usage:
 <bound method DataFrame.memory_usage of   animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no>

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
df.info():
 None

In [2]:
import pandas as pd

# Example 1: Concatenation (stacking monthly data)
jan_sales = pd.DataFrame({
    'product': ['Laptop', 'Mouse'],
    'sales': [5, 20]
})

feb_sales = pd.DataFrame({
    'product': ['Laptop', 'Keyboard'],
    'sales': [8, 15]
})

print("January sales:"); print(jan_sales); print()
print("February sales:"); print(feb_sales); print()

# Concatenate (stack) the monthly data
quarterly = pd.concat([jan_sales, feb_sales], ignore_index=True)
print("Combined quarterly data:")
print(quarterly)

January sales:
  product  sales
0  Laptop      5
1   Mouse     20

February sales:
    product  sales
0    Laptop      8
1  Keyboard     15

Combined quarterly data:
    product  sales
0    Laptop      5
1     Mouse     20
2    Laptop      8
3  Keyboard     15

In [3]:
import pandas as pd

# Example 2: Merging (joining related data)
products = pd.DataFrame({
    'product_id': [1, 2, 3],
    'name': ['Laptop', 'Mouse', 'Keyboard'],
    'category': ['Electronics', 'Accessories', 'Accessories']
})

sales = pd.DataFrame({
    'product_id': [1, 2, 1],
    'quantity': [2, 10, 1],
    'revenue': [2000, 250, 1000]
})

print("Products:"); print(products); print()
print("Sales:"); print(sales); print()

# Merge product details with sales
detailed_sales = sales.merge(products, on='product_id')
print("Sales with product details:")
print(detailed_sales)

Products:
   product_id      name     category
0           1    Laptop  Electronics
1           2     Mouse  Accessories
2           3  Keyboard  Accessories

Sales:
   product_id  quantity  revenue
0           1         2     2000
1           2        10      250
2           1         1     1000

Sales with product details:
   product_id  quantity  revenue    name     category
0           1         2     2000  Laptop  Electronics
1           2        10      250   Mouse  Accessories
2           1         1     1000  Laptop  Electronics

In [ ]:
import pandas as pd

data = {
    'name': [
        'Dipak', 'Sita', 'Ram', 'Gita', 'Kiran', 'Manish', 'Anita', 'Prakash', 'Bina', 'Ramesh',
        'Laxmi', 'Bikash', 'Sunita', 'Raj', 'Mina', 'Suresh', 'Kamal', 'Sarita', 'Roshan', 'Kusum',
        'Binod', 'Rupa', 'Santosh', 'Sabina', 'Sanjay', 'Pooja', 'Amit', 'Madhav', 'Nisha', 'Basant',
        'Rita', 'Lokesh', 'Kabita', 'Arjun', 'Maya', 'Deepa', 'Suraj', 'Bikram', 'Usha', 'Hari',
        'Sandhya', 'Rohit', 'Namrata', 'Keshav', 'Manju', 'Nabin', 'Sneha', 'Sudip', 'Rekha', 'Prem'
    ],
    'age': [
        25, 28, 30, 26, 32, 29, 27, 31, 24, 33,
        26, 34, 29, 28, 25, 35, 30, 27, 31, 26,
        32, 25, 33, 29, 34, 26, 31, 27, 28, 30,
        25, 29, 27, 33, 26, 28, 32, 30, 25, 31,
        29, 27, 30, 26, 34, 25, 28, 29, 33, 32
    ],
    'salary': [
        52000, 58000, 61000, 55000, 67000, 60000, 54000, 62000, 50000, 68000,
        56000, 70000, 59000, 61000, 53000, 72000, 64000, 56000, 63000, 55000,
        66000, 52000, 71000, 58000, 69000, 54000, 63000, 56000, 59000, 65000,
        53000, 60000, 57000, 70000, 55000, 59000, 66000, 64000, 52000, 63000,
        60000, 56000, 64000, 55000, 71000, 53000, 58000, 59000, 68000, 66000
    ],
    'bonus': [
        5000, 6200, 7000, 5500, 8000, 6500, 5200, 7200, 4800, 7500,
        5300, 7800, 6200, 6900, 5400, 8100, 7000, 5600, 7200, 5800,
        7500, 5000, 7900, 6200, 7700, 5400, 7100, 5600, 6300, 7300,
        5200, 6500, 6000, 7800, 5500, 6200, 7500, 7100, 5000, 7000,
        6600, 5800, 7300, 5500, 7900, 5200, 6000, 6400, 7600, 7400
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display shape and first few rows
# print("Shape:", df.shape)


df['total_salary'] = df['salary'] + df['bonus']
# print(df.head(10))


# print()
# print("Salary, minimum:", df['salary'].min())
# print("Salary, maximum:", df['salary'].max())
# print("Salary, mean:", df['salary'].mean())
# print("Salary, median:", df['salary'].median())
# print("Salary, mode:", df['salary'].mode())
# # print("Mean, salary:", df['salary'].mean())

# Data Cleaning
# print(df.isna(), "\n")
# print(df.isnull(), "\n")
# print(df.notna(), "\n")
# print(df.notnull(), "\n")

print(df.isna().sum(), "\n")
print(df.isnull().sum(), "\n")
print(df.isnull().sum(), "\n")

print(df.notna().sum(), "\n")
print(df.notnull().sum(), "\n")

name            0
age             0
salary          0
bonus           0
total_salary    0
dtype: int64

name            0
age             0
salary          0
bonus           0
total_salary    0
dtype: int64

name            50
age             50
salary          50
bonus           50
total_salary    50
dtype: int64

name            50
age             50
salary          50
bonus           50
total_salary    50
dtype: int64