In [20]:
import pandas as pd

df1 = pd.DataFrame({'name': ['sachin', 'virat', 'sourav'], 
                    'wickets': [98, 97, 96], 
                    'year': [1990, 2000, 2010]})

df2 = pd.DataFrame({'name': ['mark', 'robert', 'adam'], 
                    'wickets': [90, 95, 92], 
                    'year': [1990, 2000, 2010]})

df3 = pd.concat([df1, df2], axis=0)
df4 = pd.concat([df1, df2], axis=1)

print("df1:\n", df1, "\n")
print("df2:\n", df2, "\n")

print("pd.concat([df1, df2], axis=0):")
print(df3)

print()
print("pd.concat([df1, df2], axis=1):")
print(df4)

df1:
      name  wickets  year
0  sachin       98  1990
1   virat       97  2000
2  sourav       96  2010

df2:
      name  wickets  year
0    mark       90  1990
1  robert       95  2000
2    adam       92  2010

pd.concat([df1, df2], axis=0):
     name  wickets  year
0  sachin       98  1990
1   virat       97  2000
2  sourav       96  2010
0    mark       90  1990
1  robert       95  2000
2    adam       92  2010

pd.concat([df1, df2], axis=1):
     name  wickets  year    name  wickets  year
0  sachin       98  1990    mark       90  1990
1   virat       97  2000  robert       95  2000
2  sourav       96  2010    adam       92  2010

In [32]:
import numpy as np
import pandas as pd

data = {
    'id': [1, 4, 5, 3, 2, 4, 6],
    'name': ['emiley', 'bibek', 'chandra', 'amar', 'dipika', 'anmol', 'farhan'] 
}

df = pd.DataFrame(data)

In [35]:
df1 = df.sort_values('id')
df2 = df.sort_values('name')
df3 = df.sort_values(by=['id', 'name'], ascending=[True, True])
df4 = df.sort_values(by=['name', 'id'], ascending=[True, True])

print("Original DataSet:"); print(df); print()
print("In ascending order according to id:"); print(df1); print()
print("In descending order according to name:"); print(df2); print()
print("In descending order according to both (id and name):"); print(df3); print()
print("In descending order according to both (name and id):"); print(df4); print()

Original DataSet:
   id     name
0   1   emiley
1   4    bibek
2   5  chandra
3   3     amar
4   2   dipika
5   4    anmol
6   6   farhan

In ascending order according to id:
   id     name
0   1   emiley
4   2   dipika
3   3     amar
1   4    bibek
5   4    anmol
2   5  chandra
6   6   farhan

In descending order according to name:
   id     name
3   3     amar
5   4    anmol
1   4    bibek
2   5  chandra
4   2   dipika
0   1   emiley
6   6   farhan

In descending order according to both (id and name):
   id     name
0   1   emiley
4   2   dipika
3   3     amar
5   4    anmol
1   4    bibek
2   5  chandra
6   6   farhan

In descending order according to both (name and id):
   id     name
3   3     amar
5   4    anmol
1   4    bibek
2   5  chandra
4   2   dipika
0   1   emiley
6   6   farhan